<template>
  <div class="dashboard">
    <div class="display-4 ma-4 d-flex justify-center">
      Dashboard
    </div>
    <p>Welcome {{userInfo.name}} {{userInfo.family_name}}</p>
    <p>Your role is {{userInfo['custom:role']}} </p>
    <p>Your email is {{userInfo.email}} </p>

    
  </div>
</template>

<script>
import { Auth } from "aws-amplify";

export default {
  name: "dashboard",
  created(){
    this.getAttributes()
    console.log(localStorage.getItem('user'))
    if(localStorage.getItem('user') == null){
      this.$router.push("/login")
    }
  },
  components: {
  },
  data() {
    return {
      userInfo: ''
    }
  },
  methods: {
    async getAttributes() {
      try {
        const { attributes } = await Auth.currentAuthenticatedUser()
        this.userInfo = attributes
      } catch (error) {
          console.log('error getting user attributes', error);
          
      }
    }
  },
  computed: {
    
  }
};
</script>

<style scoped lang="scss">
</style>