<template>
  <div class="home">
    <div class="display-4 ma-4 d-flex justify-center">
      Test
    </div>


  </div>
</template>

<script>

export default {
  name: "home",
  components: {
  },
  methods: {},
  computed: {
    
  }
};
</script>

<style scoped lang="scss">
</style>