<template>
  <v-container>
    <h1>Password recovery</h1>
    <UserPasswordRecovery :submitForm="loginUser" buttonText="Change password" />
  </v-container>
</template>

<script>
  import UserPasswordRecovery from "@/components/UserPasswordRecoveryForm";
  import { Auth } from "aws-amplify";

  export default {
    created(){
      if(localStorage.getItem('user') != null){
        this.$router.push("/dashboard")
      }
    },
    components: {
      UserPasswordRecovery
    },
    methods: {
      async loginUser(loginInfo) {
        Auth.forgotPasswordSubmit(loginInfo.email, loginInfo.code, loginInfo.new_password)
        .then(data => {
          console.log(data)
          this.$router.push({path: '/login', query:{ email: loginInfo.email }})
        })
        .catch(err => console.log(err));

      
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>