<template>
  <v-container>
    <h1>Forgot your password?</h1>
    <UserForgotPassword :submitForm="passwordRecovery" buttonText="Send email"/>
  </v-container>
</template>

<script>
  import { Auth } from 'aws-amplify';
  import UserForgotPassword from '../components/UserForgotPasswordForm.vue';

  export default {
    components: {
      UserForgotPassword
    },
    methods: {
      async passwordRecovery(userInfo){
        Auth.forgotPassword(userInfo.email)
        .then(data => {
          console.log(data)
          this.$router.push({path: '/passwordRecovery', query:{ email: userInfo.email }})
        })
        .catch(err => console.log(err));
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>