<template>
  <v-container>
    <h1>Register</h1>
    <UserAuthForm :submitForm="registerUser" buttonText="Register" isRegistration=true />
  </v-container>
</template>

<script>
  import UserAuthForm from '@/components/UserAuthForm.vue';
  import { Auth } from "aws-amplify";

  export default {
    created(){
      if(localStorage.getItem('user') != null){
        this.$router.push("/dashboard")
      }
    },
    components: {
      UserAuthForm
    },
    methods: {
      async registerUser(registrationInfo){
        try {
          const { user } = await Auth.signUp({
              username: registrationInfo.email,
              password: registrationInfo.password,
              attributes: {
                  email: registrationInfo.email,          // optional
                  name: registrationInfo.name,
                  family_name: registrationInfo.last_name,
                  'custom:role': registrationInfo.role
              }
          });
          console.log(user);
          this.$router.push({path: '/confirmSignup', query:{ email: registrationInfo.email }})
        } catch (error) {
            console.log('error signing up:', error);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>