<template>
  <v-container>
    <h1>Login</h1>
    <UserAuthForm :submitForm="loginUser" buttonText="Login" />
  </v-container>
</template>

<script>
  import UserAuthForm from "@/components/UserAuthForm";
  import { Auth } from "aws-amplify";

  export default {
    created(){
      if(localStorage.getItem('user') != null){
        this.$router.push("/dashboard")
      }
    },
    components: {
      UserAuthForm
    },
    methods: {
      async loginUser(loginInfo) {
        try {
          const user = await Auth.signIn(loginInfo.email, loginInfo.password);
          console.log(user)
          localStorage.setItem('user', user.username)
          localStorage.setItem('user_is_active', true)
          document.location.reload()
          this.$router.push({path: '/dashboard', query:{ user_id: user.username }})
        } catch (error) {
            console.log('error signing in', error);
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>