<template>
  <v-container>
    <h1>Register</h1>
    <UserAuthConfirmationForm :submitForm="confirmSignup" buttonText="Send code"/>
  </v-container>
</template>

<script>

  import UserAuthConfirmationForm from '../components/UserAuthConfirmationForm.vue';
  import { Auth } from "aws-amplify";

  export default {
    components: {
      UserAuthConfirmationForm
    },
    methods: {
      async confirmSignup(confirmationInfo){
        try {
          const { user } = await Auth.confirmSignUp(confirmationInfo.email, confirmationInfo.confirmation_code);
          console.log(user)
          this.$router.push({path: '/login', query:{ email: confirmationInfo.email }})
        } catch (error) {
            console.log('error confirming sign up', error);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>