<template>
  <v-form v-model="valid">
    <p>Please enter your email</p>
    <v-text-field v-model="userInfo.email" 
                  label="Email" 
                  :rules="[required('email'), emailFormat()]"/>

    <v-btn @click="submitForm(userInfo)" :disabled="!valid">{{ buttonText }}</v-btn>
  </v-form>
</template>

<script>
  import validations from "@/utils/validations";

  export default {
    data() {
      return {
        valid: false,
        userInfo: {
          email: ''
        },
        ...validations
      }
    },
    props: ["submitForm", "buttonText"]
  }
</script>

<style lang="scss" scoped>

</style>