<template>
  <v-form v-model="valid">

    <v-text-field v-model="userInfo.email" 
                  :label="userInfo.email"
                  disabled/>
    
    <v-text-field v-model="userInfo.code" 
                  label="Code" 
                  :rules="[required('confirmation_code')]"/>

    <v-text-field v-model="userInfo.new_password" 
                  label="New password"
                  :type="showPassword ? 'text' : 'password'" 
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                  counter=true
                  :rules="[required('new_password'), minLength('password', 8)]"/>

    <v-text-field v-model="userInfo.confirm_new_password" 
                  label="Confirm new password"
                  :type="showPassword2 ? 'text' : 'password'" 
                  :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword2 = !showPassword2"
                  counter=true
                  :rules="[required('confirm_new_password'), passwordsAreEquals()]"/>
    
    <p align="right">
      Lost your code? <a href="#">Resend code</a>
    </p>

    <v-btn @click="submitForm(userInfo)" :disabled="!valid">{{ buttonText }}</v-btn>
  </v-form>
</template>

<script>
  import validations from "@/utils/validations";

  export default {
    data() {
      return {
        valid: false,
        showPassword: false,
        showPassword2: false,
        userInfo: {
          email: this.$route.query.email,
          code: '',
          new_password: '',
          confirm_new_password: ''
        },
        ...validations
      }
    },
    computed: {
      passwordsAreEquals(){
        return () => (this.userInfo.new_password === this.userInfo.confirm_new_password) || "Passwords must match"
      },
    },
    props: ["submitForm", "buttonText"]
  }
</script>

<style lang="scss" scoped>

</style>