<template>
  <v-form v-model="valid">
    <v-text-field v-model="userInfo.name" 
                  label="Name" 
                  :rules="[required('name')]"
                  v-if="isRegistration" />
          
    <v-text-field v-model="userInfo.last_name" 
                  label="Last Name" 
                  :rules="[required('last_name')]"
                  v-if="isRegistration" />

    <v-text-field v-model="userInfo.email" 
                  label="Email" 
                  :rules="[required('email'), emailFormat()]"/>

    <v-text-field v-model="userInfo.password"
                  label="Password"
                  :type="showPassword ? 'text' : 'password'" 
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                  counter=true
                  :rules="[required('password'), minLength('password', 8)]"
                  />
          
    <v-select v-model="userInfo.role"
              :items="items"
              label="Role"
              :rules="[required('role')]"
              v-if="isRegistration"
          ></v-select>
        
    <p align="right" v-if="!isRegistration">
      <a href="#/forgotPassword">Forgot password?</a>
    </p>

    <v-btn @click="submitForm(userInfo)" :disabled="!valid">{{ buttonText }}</v-btn>
  </v-form>
</template>

<script>
  import validations from "@/utils/validations";

  export default {
    data() {
      return {
        valid: false,
        showPassword: false,
        items: ["Super_Admin", "Admin", "Team_Leader", "Analyst", "Agent"],
        userInfo: {
          name: '',
          last_name: '',
          email: this.$route.query.email,
          password: '',
          role: ''
        },
        ...validations
      }
    },
    props: ["submitForm", "buttonText", "isRegistration"]
  }
</script>

<style lang="scss" scoped>

</style>