<template>
  <v-form v-model="valid">

    <v-text-field v-model="userInfo.email" 
                  :label="userInfo.email"
                  disabled/>
    
    <v-text-field v-model="userInfo.confirmation_code" 
                  label="Confirmation Code" 
                  :rules="[required('confirmation_code')]"/>
    
    <p align="right">
      Lost your code? <a href="#">Resend code</a>
    </p>

    <v-btn @click="submitForm(userInfo)" :disabled="!valid">{{ buttonText }}</v-btn>
  </v-form>
</template>

<script>
  import validations from "@/utils/validations";

  export default {
    data() {
      return {
        valid: false,
        userInfo: {
          email: this.$route.query.email,
          confirmation_code: ''
        },
        ...validations
      }
    },
    props: ["submitForm", "buttonText"]
  }
</script>

<style lang="scss" scoped>

</style>