<template>
  <v-app>
    <v-app-bar app color="purple lighten-4">
      <v-toolbar-title class="headline text-uppercase">
        <v-btn text to="/">Amplify - Cognito</v-btn>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div v-if="activeUser">
        <v-btn text class="mr-2" @click="logoutUser">Logout</v-btn>
      </div>
      <div v-else>
        <v-btn text class="mr-2" to="/login">Login</v-btn>
        <v-btn text class="mr-2" to="/registration">Register</v-btn>
      </div>
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
  import { mapState } from 'vuex';
  import { Auth } from "aws-amplify";

  export default {
    name: 'App',
    components: {
    },
    data: () => ({
      activeUser: (localStorage.getItem('user_is_active') == 'true')
    }),
    methods: {
      async logoutUser() {
        try {
          await Auth.signOut();
          localStorage.removeItem('user')
          localStorage.setItem('user_is_active', false)
          document.location.reload()
          this.$router.push("/login")
        } catch (error) {
            console.log('error signing out: ', error);
        }
      }
    },
  };
</script>
